body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px 20px;
    background-color: #29ab0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #20820a;
}

#qrcode {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
